
div {
    word-spacing: -5px;
}
.line{
    display:inline-block;
    z-index: 2;
    position: relative;

}

.line > input[type="submit"]{
    position: relative;
    display: inline-block;
    font-size: 0;
    #padding:5px 15px;
    border: cornflowerblue solid 2px;
    background-color:white;

    cursor:pointer;

    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 50px;
    width: 50px;
    text-indent: 100%;
    overflow: hidden;
}
/*.line > input[type="submit"]:focus{
    font-family: serif;

    font-size: 15px;
}*/
.tic {
    background-image: url("/images/tic.png");
}

.tac {
    background-image: url("/images/tac.png");

}
.line > div {
    cursor: pointer;
    position: absolute;
    z-index: 1;
    display: inline-block;
    left: 4px;
    top: 4px;
    width: 36px;
    height: 36px;
    #background: #333;
    border: 3px solid black;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    opacity: 0;

}
.line > div:hover {
    opacity: 1;
}
/*
.close {
    display: inline-block;
    z-index: 2;
    position: absolute;
    left: 5px;
    top: 5px;
    width: 40px;
    height: 40px;
    opacity: 0.3;
}
.close:hover {
    opacity: 1;
}
.close:before, .close:after {
    position: absolute;
    left: 18px;
    content: ' ';
    height: 40px;
    width: 3px;
    background-color: #333;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}*/



/*
.tic {
    font-size: 0;
    padding:5px 15px;
    background:#ccc;
    background:url(../o.png) no-repeat;
    cursor:pointer;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 50px;
    width: 50px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.tac {
    font-size: 0;
    padding:5px 15px;
    background:#ccc;
    background:url(../x.png) no-repeat;
    cursor:pointer;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 50px;
    width: 50px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;

}

.none {
    padding:5px 15px;
    background:#ccc;

    cursor:pointer;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 50px;
    width: 50px;
}
*/